POSTGRES_DB=printer_dashboard
POSTGRES_USER=printer_dashboard
POSTGRES_PASSWORD=printer_dashboard
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=
PRINTER_IP_ADDRESS=
PRINTER_ACCESS_CODE=
PRINTER_SERIAL=
