{% extends "dashboard/base.html" %}

{% block content %}

<ul id="navigation-bar">
    <li><a class="active" href="{% url "dashboard:dashboard" %}">Dashboard</a></li>
    <li><a href="{% url "dashboard:stats" %}">Stats</a></li>
    <li><a href="{% url "dashboard:project-list" %}">Project List</a></li>
</ul>

<div class="main">
    <h1>3D Printer Dashboard</h1>

    {% if is_hot %}
    <h2 style="background-color: yellow">⚠️ Attention! Printer could be hot. ⚠️</h2>
    {% endif %}

    <h3>Printer is {{ printer_data.state }} ({{ printer_data.detailed_state }}).</h3>
    <p>Last updated on {{ printer_data.created_at.date }} at {{ printer_data.created_at.time }} (UTC)</p>
    <p>💡 {% if is_light_on %}On{% else %}Off{% endif %}</p>

    <p>🌡 Temperatures: </p>
    <ul>
        <li>Nozzle {{ printer_data.temperature_nozzle}}</li>
        <li>Bed {{ printer_data.temperature_bed }}</li>
        <li>Chamber {{ printer_data.temperature_chamber }}</li>
    </ul>

    <br>
    <p>...Fancy graph...</p>
    <br>
    <form action="{% url "dashboard:dashboard" %}" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit" {% if is_running_once %}disabled {% endif %}
                name = "retrieve-printer-data-once"
                id = "minecraft-button">
            Update printer state
        </button>
        <button type = "submit" name="light-off">Turn light off</button>

        <br>
        <button type = "submit" {% if is_running_regularly %}disabled {% endif %} name="retrieve-printer-data-regularly">Schedule regular retrieval of printer data</button>
        <button type = "submit" {% if not is_running_regularly %}disabled {% endif %} name="stop-retrieving-printer-data">Stop all scheduled retrievals of printer data</button>

        <p>
            Note: Updating the printer state will take a couple of seconds.
            <br>
            You will be redirected automatically to another page when successfully updated.
        </p>
    </form>

    {% if is_running_once %}
      <p>Database update running once.</p>
    {% endif %}

    {% if is_running_regularly %}
      <p>Database update running regularly.</p>
    {% endif %}

    {% if not is_running_regularly %}
      <p>Database updates stopped.</p>
    {% endif %}


</div>

{% endblock %}
