{% extends "dashboard/base.html" %}

{% block content %}

<ul id="navigation-bar">
    <li><a class="active" href="{% url "dashboard:dashboard" %}">Dashboard</a></li>
    <li><a href="{% url "dashboard:stats" %}">Stats</a></li>
    <li><a href="{% url "dashboard:project-list" %}">Project List</a></li>
</ul>

<div class="main">
    <h1>3D Printer Dashboard</h1>
    <p>Dashboard content...</p>

    <form action="{% url "dashboard:dashboard" %}" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit" {% if is_running_once %}disabled {% endif %}
                name = "retrieve-printer-data-once"
                id = "minecraft-button">
            Retrieve printer data once
        </button>
        <button type = "submit" name="light-off">Turn light off</button>

        <br>
        <button type = "submit" {% if is_running_regularly %}disabled {% endif %} name="retrieve-printer-data-regularly">Schedule regular retrieval of printer data</button>
        <button type = "submit" {% if not is_running_regularly %}disabled {% endif %} name="stop-retrieving-printer-data">Stop all scheduled retrievals of printer data</button>

        <p>
            Note: Updating the printer state will take a couple of seconds.
            <br>
            You will be redirected automatically to another page when successfully updated.
        </p>
    </form>

    {% if is_running_once %}
      <p>Database update running once.</p>
    {% endif %}

    {% if is_running_regularly %}
      <p>Database update running regularly.</p>
    {% endif %}

    {% if not is_running_regularly %}
      <p>Database updates stopped.</p>
    {% endif %}


</div>

{% endblock %}
