{% extends "dashboard/base.html" %}

{% block content %}

<ul id="navigation-bar">
    <li><a href="{% url "dashboard:dashboard" %}">Dashboard</a></li>
    <li><a class="active" href="{% url "dashboard:stats" %}">Stats</a></li>
    <li><a href="{% url "dashboard:project-list" %}">Project List</a></li>
</ul>

<div class="main">
    <h1>Overall statistics</h1>
    <p>List with Printer States:</p>

    {% if object_list %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>State</th>
                <th>Light on?</th>
                <th>Project status</th>
                <th>Link to Project</th>
            </tr>
        </thead>
        <tbody>
            {% for state in object_list %}
                <tr>
                    <td><a href="{% url "dashboard:printerdata-detail" state.id %}">{{ state.id }}</a></td>
                    <td>{{ state.created_at.date }}</td>
                    <td>{{ state.created_at.time }}</td>
                    <td>{{ state.state }}</td>
                    <td>{{ state.is_light_on }}</td>
                    <td>{{ state.detailed_state }}</td>
                    {% if state.project_id %}
                        <td><a href="{% url "dashboard:project-detail" state.project_id %}">
                            Project {{ state.project_id }}
                        </a></td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No printer states yet.</p>
    {% endif %}
</div>

{% endblock %}
