{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<ul id="navigation-bar" xmlns:dashboard="http://www.w3.org/1999/xhtml" xmlns:dashboard="http://www.w3.org/1999/xhtml"
    xmlns:dashboard="http://www.w3.org/1999/xhtml">
    <li><a href="{% url "dashboard:dashboard" %}">Dashboard</a></li>
    <li><a href="{% url "dashboard:stats" %}">Stats</a></li>
    <li><a class="active" href="{% url "dashboard:project-list" %}">Project List</a></li>
</ul>

<div class = "main">
    <h1>Project list</h1>
    <h3>Printing</h3>
    <ul>
    {% for project in project_list %}
        {%  if project.status == 30 %}
        <li>
            {% if project.image %}
                <img src = "{{ project.image.url }}" alt="Chamber image from last print" height="10">
            {% else %}
                <img src = "{% static 'dashboard/Printer_image.jpg' %}" alt="Chamber image" height="10">
            {% endif %}
            <a href="{% url "dashboard:project-detail" project.id %}">Project {{ project.id }}</a>:
            {{ project.project_name }}
            (Owner: {{ project.owner_id }}, created at {{ project.created_at.date }})
        </li>
        {% endif %}
    {% empty %}
        <li>No projects yet.</li>
    {% endfor %}
    </ul>

    <h3>Not printed</h3>
    <ul>
    {% for project in project_list %}
        {% if project.status != 30 and project.status != 40 %}
        <li>
            {% if project.image %}
                <img src = "{{ project.image.url }}" alt="Chamber image from last print" height="10">
            {% else %}
                <img src = "{% static 'dashboard/Printer_image.jpg' %}" alt="Chamber image" height="10">
            {% endif %}
            <a href="{% url "dashboard:project-detail" project.id %}">Project {{ project.id }}</a>:
            {{ project.project_name }}
            (Owner: {{ project.owner_id }}, created at {{ project.created_at.date }})
        </li>
        {% endif %}
    {% empty %}
        <li>No projects yet.</li>
    {% endfor %}
    </ul>

    <h3>Done</h3>
    <ul>
    {% for project in project_list %}
        {%  if project.status == 40 %}
        <li>
            {% if project.image %}
                <img src = "{{ project.image.url }}" alt="Chamber image from last print" height="10">
            {% endif %}
            <a href="{% url "dashboard:project-detail" project.id %}">Project {{ project.id }}</a>:
            {{ project.project_name }}
            (Owner: {{ project.owner_id }}, created at {{ project.created_at.date }})
        </li>
        {% endif %}
    {% empty %}
        <li>No projects yet.</li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
